USE [master]
GO
/****** Object:  Database [dbQuanLyKhoThietBi]    Script Date: 15/09/2024 1:59:29 CH ******/
CREATE DATABASE [dbQuanLyKhoThietBi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbQuanLyKhoThietBi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbQuanLyKhoThietBi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbQuanLyKhoThietBi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbQuanLyKhoThietBi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbQuanLyKhoThietBi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbQuanLyKhoThietBi]
GO
/****** Object:  Table [dbo].[ChiTietNhapKho]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[MaHD] [varchar](32) NOT NULL,
	[MaHH] [varchar](32) NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[SoLuong] [decimal](18, 0) NOT NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietXuatKho]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietXuatKho](
	[MaHD] [varchar](32) NOT NULL,
	[MaHH] [varchar](32) NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[SoLuong] [decimal](18, 0) NOT NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHH] [varchar](32) NOT NULL,
	[TenHH] [nvarchar](128) NOT NULL,
	[TonKho] [decimal](18, 0) NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[MaNCC] [varchar](32) NOT NULL,
	[MaLHH] [varchar](32) NOT NULL,
	[GiaXuat] [decimal](18, 0) NULL,
	[AnhHH] [image] NULL,
	[DonVi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa_Backup]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa_Backup](
	[MaHH] [varchar](32) NOT NULL,
	[TenHH] [nvarchar](128) NOT NULL,
	[TonKho] [decimal](18, 0) NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[MaNCC] [varchar](32) NOT NULL,
	[MaLHH] [varchar](32) NOT NULL,
	[GiaXuat] [decimal](18, 0) NULL,
	[AnhHH] [varchar](255) NULL,
	[DonVi] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](32) NOT NULL,
	[TenKH] [nvarchar](128) NOT NULL,
	[DienThoai] [varchar](16) NULL,
	[DiaChi] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHangHoa]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHangHoa](
	[MaLHH] [varchar](32) NOT NULL,
	[TenLHH] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](32) NOT NULL,
	[TenNCC] [nvarchar](128) NOT NULL,
	[DienThoai] [varchar](16) NULL,
	[DiaChi] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](32) NOT NULL,
	[TenNV] [nvarchar](128) NOT NULL,
	[MatKhau] [varchar](256) NOT NULL,
	[DienThoai] [varchar](16) NULL,
	[DiaChi] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaHD] [varchar](32) NOT NULL,
	[NgayHD] [datetime] NOT NULL,
	[MaNV] [varchar](32) NOT NULL,
	[TongTien] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatKho]    Script Date: 15/09/2024 1:59:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatKho](
	[MaHD] [varchar](32) NOT NULL,
	[MaKH] [varchar](32) NOT NULL,
	[NgayBan] [datetime] NOT NULL,
	[MaNV] [varchar](32) NOT NULL,
	[TongTien] [decimal](18, 0) NOT NULL,
	[TrangThai] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietNhapKho] ([MaHD], [MaHH], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'PNK_240910064138', N'HH001', CAST(15000000 AS Decimal(18, 0)), CAST(6 AS Decimal(18, 0)), CAST(90000000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietNhapKho] ([MaHD], [MaHH], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'PNK_240910064200', N'HH005', CAST(300000 AS Decimal(18, 0)), CAST(7 AS Decimal(18, 0)), CAST(2100000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietNhapKho] ([MaHD], [MaHH], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'PNK_240910064200', N'HH019', CAST(150000 AS Decimal(18, 0)), CAST(12 AS Decimal(18, 0)), CAST(1800000 AS Decimal(18, 0)))
GO
INSERT [dbo].[ChiTietXuatKho] ([MaHD], [MaHH], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'PXK_240917101500', N'HH001', CAST(2000000 AS Decimal(18, 0)), CAST(3 AS Decimal(18, 0)), CAST(6000000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietXuatKho] ([MaHD], [MaHH], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'PXK_240917101500', N'HH002', CAST(1500000 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(3000000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietXuatKho] ([MaHD], [MaHH], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'PXK_240917102300', N'HH003', CAST(1800000 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), CAST(9000000 AS Decimal(18, 0)))
GO
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [TonKho], [DonGia], [MaNCC], [MaLHH], [GiaXuat], [AnhHH], [DonVi]) VALUES (N'DENLED', N'Ðèn led', CAST(31 AS Decimal(18, 0)), CAST(58000 AS Decimal(18, 0)), N'CTYHP', N'DOGIADUNG', CAST(60000 AS Decimal(18, 0)), NULL, N'Cái')
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [TonKho], [DonGia], [MaNCC], [MaLHH], [GiaXuat], [AnhHH], [DonVi]) VALUES (N'HH001', N'Máy tính xách tay Dell', CAST(80 AS Decimal(18, 0)), CAST(15000000 AS Decimal(18, 0)), N'CTYHP', N'DOGIADUNG', CAST(15500000 AS Decimal(18, 0)), NULL, N'Cái')
GO
INSERT [dbo].[HangHoa_Backup] ([MaHH], [TenHH], [TonKho], [DonGia], [MaNCC], [MaLHH], [GiaXuat], [AnhHH], [DonVi]) VALUES (N'DENLED', N'Đèn led', CAST(4 AS Decimal(18, 0)), CAST(58000 AS Decimal(18, 0)), N'CTYHP', N'DOGIADUNG', CAST(60000 AS Decimal(18, 0)), N'~\Resources\login_310818.png', N'Cái')
INSERT [dbo].[HangHoa_Backup] ([MaHH], [TenHH], [TonKho], [DonGia], [MaNCC], [MaLHH], [GiaXuat], [AnhHH], [DonVi]) VALUES (N'HH001', N'Máy tính xách tay Dell', CAST(80 AS Decimal(18, 0)), CAST(15000000 AS Decimal(18, 0)), N'CTYHP', N'DOGIADUNG', CAST(15500000 AS Decimal(18, 0)), N'~\Resources\login_310818.png', N'Cái')
INSERT [dbo].[HangHoa_Backup] ([MaHH], [TenHH], [TonKho], [DonGia], [MaNCC], [MaLHH], [GiaXuat], [AnhHH], [DonVi]) VALUES (N'HH002', N'Laptop HP', CAST(30 AS Decimal(18, 0)), CAST(12000000 AS Decimal(18, 0)), N'CTYHP', N'DOGIADUNG', CAST(12500000 AS Decimal(18, 0)), N'~\Resources\login_310818.png', N'Chiếc')
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai], [DiaChi]) VALUES (N'KH001', N'Công Lâm', N'0541256526', N'TPHCM')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai], [DiaChi]) VALUES (N'KH002', N'Vũ Mạnh', N'0124545263', N'TPHCM')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai], [DiaChi]) VALUES (N'KH003', N'Lê Văn Cương', N'0243456789', N'56 Đường Hoàng Quốc Việt, Cầu Giấy, Hà Nội')
GO
INSERT [dbo].[LoaiHangHoa] ([MaLHH], [TenLHH]) VALUES (N'DOGIADUNG', N'Đồ gia dụng')
INSERT [dbo].[LoaiHangHoa] ([MaLHH], [TenLHH]) VALUES (N'HHH111', N'Sách')
INSERT [dbo].[LoaiHangHoa] ([MaLHH], [TenLHH]) VALUES (N'LHH001', N'Thiết bị điện tử')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DienThoai], [DiaChi]) VALUES (N'CTYHP', N'Công ty Hoàng Phong', N'0354125854', N'TPHCM')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DienThoai], [DiaChi]) VALUES (N'CTYOFF', N'Công ty Officexinh', N'0241524124', N'TPHCM')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DienThoai], [DiaChi]) VALUES (N'NCC001', N'Công ty TNHH Minh Phú', N'0243712345', N'12 Đường Kim Mã, Ba Đình, Hà Nội')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MatKhau], [DienThoai], [DiaChi]) VALUES (N'AD', N'CHUN', N'123456', N'0354784521', N'TPHCM')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MatKhau], [DienThoai], [DiaChi]) VALUES (N'NV001', N'Chun', N'password123', N'0241234567', N'12 Đường Nguyễn Trãi, Thanh Xuân, Hà Nội')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MatKhau], [DienThoai], [DiaChi]) VALUES (N'NV002', N'Trần Thị Mai', N'password456', N'0242345678', N'34 Đường Kim Mã, Ba Đình, Hà Nội')
GO
INSERT [dbo].[NhapKho] ([MaHD], [NgayHD], [MaNV], [TongTien]) VALUES (N'PNK_240910064138', CAST(N'2024-09-10T00:00:00.000' AS DateTime), N'AD', CAST(90000000 AS Decimal(18, 0)))
INSERT [dbo].[NhapKho] ([MaHD], [NgayHD], [MaNV], [TongTien]) VALUES (N'PNK_240910064200', CAST(N'2024-09-10T00:00:00.000' AS DateTime), N'AD', CAST(3900000 AS Decimal(18, 0)))
INSERT [dbo].[NhapKho] ([MaHD], [NgayHD], [MaNV], [TongTien]) VALUES (N'PNK_240911061116', CAST(N'2024-09-11T00:00:00.000' AS DateTime), N'AD', CAST(8630000 AS Decimal(18, 0)))
GO
INSERT [dbo].[XuatKho] ([MaHD], [MaKH], [NgayBan], [MaNV], [TongTien], [TrangThai]) VALUES (N'PXK_240548885113', N'KH016', CAST(N'2024-05-25T00:00:00.000' AS DateTime), N'NV005', CAST(14500000 AS Decimal(18, 0)), N'Đã thanh toán')
INSERT [dbo].[XuatKho] ([MaHD], [MaKH], [NgayBan], [MaNV], [TongTien], [TrangThai]) VALUES (N'PXK_240566666881', N'KH008', CAST(N'2024-05-06T00:00:00.000' AS DateTime), N'NV003', CAST(9800000 AS Decimal(18, 0)), N'Đã thanh toán')
INSERT [dbo].[XuatKho] ([MaHD], [MaKH], [NgayBan], [MaNV], [TongTien], [TrangThai]) VALUES (N'PXK_240577775992', N'KH016', CAST(N'2024-05-14T00:00:00.000' AS DateTime), N'NV004', CAST(11000000 AS Decimal(18, 0)), N'Đã thanh toán')
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[NhapKho] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[ChiTietXuatKho]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[XuatKho] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietXuatKho]  WITH CHECK ADD FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD FOREIGN KEY([MaLHH])
REFERENCES [dbo].[LoaiHangHoa] ([MaLHH])
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[XuatKho]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[XuatKho]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
/****** Object:  StoredProcedure [dbo].[GetChiTietXuatKho]    Script Date: 15/09/2024 1:59:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetChiTietXuatKho]
    @MaHD NVARCHAR(50)
AS
BEGIN
    SELECT a.MaHD,
           a.MaHH,
           b.tenhh AS TenHH,
           a.DonGia,
           a.SoLuong,
           a.ThanhTien
    FROM ChiTietXuatKho a
    INNER JOIN HangHoa b ON a.MaHH = b.MaHH
    WHERE a.MaHD = @MaHD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetChiTietNhapKho]    Script Date: 15/09/2024 1:59:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetChiTietNhapKho]
    @MaHD NVARCHAR(50)
AS
BEGIN
    SELECT c.MaHD, c.MaHH, h.TenHH, c.DonGia, c.SoLuong, c.ThanhTien
    FROM ChiTietNhapKho c
    INNER JOIN HangHoa h ON c.MaHH = h.MaHH
    WHERE c.MaHD = @MaHD;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiChiTietNhapKho]    Script Date: 15/09/2024 1:59:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HienThiChiTietNhapKho]
    @MaHD NVARCHAR(50)
AS
BEGIN
    SELECT a.MaHD, a.MaHH, b.TenHH, a.DonGia, a.SoLuong, a.ThanhTien
    FROM ChiTietNhapKho a
    INNER JOIN HangHoa b ON a.MaHH = b.MaHH
    WHERE a.MaHD = @MaHD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Top10SanPhamBanChay]    Script Date: 15/09/2024 1:59:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Top10SanPhamBanChay]
AS
BEGIN
    -- Truy vấn để lấy 10 sản phẩm bán chạy nhất
    SELECT TOP 10
        HangHoa.MaHH,
        HangHoa.TenHH,
        SUM(ChiTietXuatKho.SoLuong) AS TongSoLuongBan
    FROM ChiTietXuatKho
    INNER JOIN HangHoa ON ChiTietXuatKho.MaHH = HangHoa.MaHH
    GROUP BY HangHoa.MaHH, HangHoa.TenHH
    ORDER BY TongSoLuongBan DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTonKhoIt]    Script Date: 15/09/2024 1:59:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XuLyTonKhoIt]
AS
BEGIN
    -- Ví dụ: chỉ hiển thị thông tin tồn kho ít
    -- Bạn có thể thay đổi phần này theo nhu cầu của bạn
    SELECT MaHH, TenHH, TonKho
    FROM HangHoa
    WHERE TonKho < 10;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_BaoCaoKho]    Script Date: 15/09/2024 1:59:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_BaoCaoKho]
    @NgayHD1 DATE,
    @NgayHD2 DATE
AS
BEGIN
    -- Thực hiện truy vấn và tính toán tổng số liệu
    SELECT 
        h.MaHH AS [Mã hàng hóa],
        h.TenHH AS [Tên hàng hóa],
        ISNULL(SUM(cn.SoLuong), 0) AS [Số Lượng Nhập],
        ISNULL(SUM(cx.SoLuong), 0) AS [Số Lượng Xuất],
        ISNULL(SUM(cn.ThanhTien), 0) AS [Chi Phí],
        ISNULL(SUM(cx.ThanhTien), 0) AS [Doanh Thu],
        ISNULL(SUM(cx.ThanhTien), 0) - ISNULL(SUM(cn.ThanhTien), 0) AS [Lợi Nhuận]
    FROM HangHoa h
    LEFT JOIN ChiTietNhapKho cn ON h.MaHH = cn.MaHH AND cn.MaHD IN (
        SELECT MaHD FROM NhapKho WHERE NgayHD BETWEEN @NgayHD1 AND @NgayHD2
    )
    LEFT JOIN ChiTietXuatKho cx ON h.MaHH = cx.MaHH AND cx.MaHD IN (
        SELECT MaHD FROM XuatKho WHERE NgayBan BETWEEN @NgayHD1 AND @NgayHD2
    )
    GROUP BY h.MaHH, h.TenHH;

    -- Tính toán tổng số liệu
    SELECT
        ISNULL(SUM(cn.SoLuong), 0) AS [Tổng Số Lượng Nhập],
        ISNULL(SUM(cx.SoLuong), 0) AS [Tổng Số Lượng Xuất],
        ISNULL(SUM(cn.ThanhTien), 0) AS [Tổng Chi Phí],
        ISNULL(SUM(cx.ThanhTien), 0) AS [Tổng Doanh Thu],
        ISNULL(SUM(cx.ThanhTien), 0) - ISNULL(SUM(cn.ThanhTien), 0) AS [Tổng Lợi Nhuận]
    FROM HangHoa h
    LEFT JOIN ChiTietNhapKho cn ON h.MaHH = cn.MaHH AND cn.MaHD IN (
        SELECT MaHD FROM NhapKho WHERE NgayHD BETWEEN @NgayHD1 AND @NgayHD2
    )
    LEFT JOIN ChiTietXuatKho cx ON h.MaHH = cx.MaHH AND cx.MaHD IN (
        SELECT MaHD FROM XuatKho WHERE NgayBan BETWEEN @NgayHD1 AND @NgayHD2
    );
END
GO
USE [master]
GO
