<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <connectionStrings>
        <add name="localhost_dbQuanLyKhoThietBi_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-2CGNFL3;integrated security=SSPI;initial catalog=dbQuanLyKhoThietBi;TrustServerCertificate=true" />
        <add name="desktop-nt6pbdr.dbQuanLyKhoThietBi.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-NT6PBDR;integrated security=SSPI;initial catalog=dbQuanLyKhoThietBi;TrustServerCertificate=true" />
        <add name="desktop-nt6pbdr.dbQuanLyKhoThietBi_ver1.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-NT6PBDR;integrated security=SSPI;initial catalog=dbQuanLyKhoThietBi_ver1" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>